<h1>Genre's Page:</h1>

<h2><%=@genre.name%>'s Info:</h2>

<p>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a><br>
  Genres associated with song: <br>
  <% @song.genres.each.with_index(1) do |genre, index|%>
    <p><%= index %>. <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
    </p>
    <%end%> %>
</p>
